{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="ar">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">

    <title>من نحن</title>
</head>

<body>
    {% block content %}
    <div class="about-container">
        <h1>من نحن</h1>

        <section class="about-section">
            <h2>نبذة</h2>
            <p>
                تأسست مدرسة ابوسمور لتعليم السياقة في عام 2016 في مدينة الخليل - بلدة حلحول، على يد مجموعة من المدربين
                الذين تتجاوز خبرتهم العشرين عاماً في مجال تعليم السياقة. المدرسة مجهزة بقاعة تدريب خاصة بالتؤريا، يحرص
                اساتذة التدريب على استخدام كل ما توصلت له التكنولوجيا لايصال المادة النظرية بطريقة سلسة دون تعقيدات حتى
                تكون أكثر وضوحا وأكثر سهولة للتعلم. يقوم فريق عملنا على تدريب الطلاب بأسلوب ممنهج يعمل على رفع المستوى
                تدريجيا لتحضير الطالب لامتحان السياقة العملية.
            </p>
        </section>

        <section class="about-section">
            <h2>الهدف</h2>
            <p>تحضير الطالب لامتحان السياقة والقوانين والانظمة المعمول بها في فلسطين بهدف الحصول على رخصة قيادة. .</p>
        </section>

        <section class="about-section">
            <h2>الرؤية</h2>
            <p>الوصول إلى مجتمع مروري واعي يحترم القوانين والأنظمة وقادر على سياقة المركبات بأمان.
            </p>
        </section>
    </div>
    {% endblock %}
</body>

</html>