{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="ar">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">

    <title>من نحن</title>
</head>

<body>
    {% block content %}
    <div class="about-container">
        <h1>من نحن</h1>

        <section class="about-section">
            <h2>نبذة</h2>
            <p>
                تأسست منظمة المستقبل في عام 2020. تهدف المنظمة إلى دعم الشباب وتطوير المهارات من خلال مجموعة من البرامج
                التي تشمل التعليم والتدريب.
            </p>
        </section>

        <section class="about-section">
            <h2>الهدف</h2>
            <p>توفير الفرص التعليمية والتنموية في المجتمع من أجل تحسين الحياة للفئات المهمشة.</p>
        </section>

        <section class="about-section">
            <h2>الرؤية</h2>
            <p>الوصول إلى مجتمع واعٍ وقادر على استخدام القوانين والأنظمة بشكل فعال في حياة الأفراد.</p>
        </section>
    </div>
    {% endblock %}
</body>

</html>
