{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="ar">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/category_list.css' %}">

    <title>اسئلة التؤوريا</title>
</head>

<body>
    {% block content %}
        <h1 class="heading">اسئلة التؤوريا</h1>
        
        <!-- List of categories -->
        {% if categories %}
            <ul class="category-list">
                {% for category in categories %}
                    <li class="category-item">
                        <a href="{% url 'category_exams' category.id %}" class="category-link">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-categories">لا يوجد اي اسئلة حتى الان</p>
        {% endif %}

    {% endblock %}
</body>

</html>
