{% extends 'base.html' %}

{% block content %}
<div class="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-icons">
        <a href="mailto:youremail@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i> Gmail
        </a>
        <a href="https://wa.me/yourwhatsappnumber" target="_blank">
            <i class="fa fa-whatsapp"></i> WhatsApp
        </a>
        <a href="https://www.facebook.com/yourpage" target="_blank">
            <i class="fa fa-facebook"></i> Facebook
        </a>
    </div>
</div>
{% endblock %}
