body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

.license-container {
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 10px;
    font-weight: bolder;
}

.sub-heading {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 30px;
}

.license-steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.step {
    background-color: #c2001a;
    color: white;
    width: 15rem;
    height: 25rem;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.step:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    object-fit: contain;
}

.step p {
    font-size: 1.8rem;
    margin: 0;
}

.hover-content {
    position: absolute;
    bottom: 50;
    left: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    padding: 30px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    direction: rtl;
}

.step:hover .hover-content {
    opacity: 1;
    transform: translateY(0);
}

.hover-content p {
    line-height: 1.5;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .license-steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        width: 100%;
        max-width: 300px;
    }
}
